article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
body {
  margin: 48px 60px;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: DINCond, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 2em;
  margin: 0.2em 0 0.24em;
}
h2 {
  font-size: 40px;
  font-weight: normal;
  line-height: 2em;
  margin: 0.2em 0 0.24em;
}
h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 2em;
  margin: 0.2em 0 0.24em;
}
h4 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2em;
  margin: 0.2em 0 0.24em;
}
section {
  margin-top: 24px;
}
blockquote {
  margin: 12px 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}
blockquote p {
  margin-left: 50px;
  margin-right: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 16px;
}
blockquote:before,
blockquote:after {
  font-size: 400%;
  font-weight: bold;
  color: #d6d6d6;
}
blockquote:before {
  content: '\201C';
  float: left;
  margin-top: -12px;
}
blockquote:after {
  content: '\201D';
  float: right;
}
.polka-accordion .polka-heading,
.polka-accordion .polka-tab {
  padding: 24px 30px;
  margin: 0;
}
.polka-accordion .polka-heading {
  color: #767676;
  background-color: #d1d1d1;
  background: -moz-linear-gradient(vertical, #cacaca, #d1d1d1);
  background-color: #cecece;
  background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#d1d1d1));
  background: -webkit-linear-gradient(top, #cacaca, #d1d1d1);
  background: -moz-linear-gradient(top, #cacaca, #d1d1d1);
  background: -ms-linear-gradient(top, #cacaca, #d1d1d1);
  background: -o-linear-gradient(top, #cacaca, #d1d1d1);
  border-top: 1px solid #fff;
  -webkit-box-shadow: '1 1 1px @grey4';
  -moz-box-shadow: '1 1 1px @grey4';
  box-shadow: '1 1 1px @grey4';
  padding-bottom: 12px;
  text-transform: uppercase;
}
.polka-accordion .polka-heading h2 {
  line-height: 1em;
  text-shadow: 1px 1px 0 #ffffff;
}
.polka-accordion .polka-heading.open {
  color: #000000;
  background-color: #ededed;
  background: -moz-linear-gradient(vertical, #e6e6e6, #ebebeb);
  background-color: #e9e9e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ebebeb));
  background: -webkit-linear-gradient(top, #e6e6e6, #ebebeb);
  background: -moz-linear-gradient(top, #e6e6e6, #ebebeb);
  background: -ms-linear-gradient(top, #e6e6e6, #ebebeb);
  background: -o-linear-gradient(top, #e6e6e6, #ebebeb);
}
.polka-accordion .polka-tab {
  display: none;
  background-color: #d1d1d1;
  background: -moz-linear-gradient(vertical, #d6d6d6, #cacaca);
  background-color: #d0d0d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#cacaca));
  background: -webkit-linear-gradient(top, #d6d6d6, #cacaca);
  background: -moz-linear-gradient(top, #d6d6d6, #cacaca);
  background: -ms-linear-gradient(top, #d6d6d6, #cacaca);
  background: -o-linear-gradient(top, #d6d6d6, #cacaca);
  text-shadow: 1px 1px 0 #ffffff;
  padding-top: 12px;
  overflow: auto;
}
.polka-accordion .polka-tab.open {
  display: block;
  background-color: #ededed;
  background: -moz-linear-gradient(vertical, #ededed, #e6e6e6);
  background-color: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e6e6e6));
  background: -webkit-linear-gradient(top, #ededed, #e6e6e6);
  background: -moz-linear-gradient(top, #ededed, #e6e6e6);
  background: -ms-linear-gradient(top, #ededed, #e6e6e6);
  background: -o-linear-gradient(top, #ededed, #e6e6e6);
}
