// CSS Reset
@import "reset.less";

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Utility classes
@import "utilities.less";

.polka-accordion {
	.polka-heading {
		color: @inactiveHeadingColor;
		background-color: @inactiveBgColor;
	}
	.polka-heading.open {
		color: @activeHeadingColor;
		background-color: @activeBgColor;
	}
	.polka-tab {
		.hide;
		background-color: @inactiveBgColor;
	}
	.polka-tab.open {
		.show;
		background-color: @activeBgColor;
	}
}
